{:paths ["src"]
 :deps {
        io.github.kotoba-lang/coll
        {:git/url "https://github.com/kotoba-lang/coll.git"
         :git/sha "9740cc2dc43a192077d77374b869a37940c801e4"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
